Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data = [4, 8, 15, 16, 23,42]
s = pd.Series(data)

In [7]:
s  # displaying the series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas. Series function on the variable print it.

In [8]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [16]:
data = { "Name": ['Alice', 'Bob', 'Claire'],
         "Age": [25,30,27] ,
          "Gender": ['Female', 'Male', 'Female']}
df = pd.DataFrame(data)

In [18]:
df  #  displaying the df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer--> Series is a one-dimensional labeled array capable of holding any data type. A Series can be created from a list, numpy array, or dictionary.

DataFrame in pandas is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table. A DataFrame can be created by passing a dictionary of lists, numpy arrays, or Pandas series.

The key difference between DataFrame and Series is that a Series represents a single column of data, while a DataFrame represents a collection of columns with labels.

In [23]:
import pandas as pd

# Creating a pandas series
fruit_count = pd.Series([10, 5, 20, 15], index=['apple', 'banana', 'orange', 'kiwi'])
print("Series is \n")
print(fruit_count)
print("\n")

# Creating a pandas dataframe
fruit_sales = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange', 'kiwi'],
    'count': [10, 5, 20, 15],
    'price': [2.99, 0.99, 1.50, 3.25]
})
print("DataFrame is \n")
print(fruit_sales)

Series is

apple     10
banana     5
orange    20
kiwi      15
dtype: int64


DataFrame is

    fruit  count  price
0   apple     10   2.99
1  banana      5   0.99
2  orange     20   1.50
3    kiwi     15   3.25

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Answer--> Pandas provides a rich set of functions for manipulating data in a DataFrame. Here are some of the most common functions:

1 head() and tail()

2 describe()

3 max(), min()

4 sort_values()

5 drop()

6 fillna()

1 head() and tail()--> if our dataframe containes a number of datarow then its very deficult to watch all the rows a one so there we use it . These functions are used to view the top and bottom rows of a DataFrame

In [30]:
fruit_sales.head(3) # here we can see top 3 rows with the help of  .head(3)

    fruit  count  price
0   apple     10   2.99
1  banana      5   0.99
2  orange     20   1.50

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer--> Series and DataFrame are mutable in nature, while Panel is immutable.

In pandas, a mutable object can be modified after creation, whereas an immutable object cannot be modified after creation. A Series is a one-dimensional labeled array that can hold any data type, while a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. Both Series and DataFrame can be modified by adding, deleting, or updating elements or columns. 

On the other hand, a Panel is a three-dimensional labeled data structure that can hold any data type, but it cannot be modified after creation. Instead, a new Panel object needs to be created to make any changes to the original data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:
# create three Series objects
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'])
s3 = pd.Series([0.1, 0.2, 0.3, 0.4])

# create a dictionary of Series
data = {'col1': s1, 'col2': s2, 'col3': s3}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

   col1 col2  col3
0     1    a   0.1
1     2    b   0.2
2     3    c   0.3
3     4    d   0.4